html {
    min-height: 100%;
}

body {
    background: linear-gradient(rgb(255, 179, 0), #9d457d, #b5e48c);
}

header h1 {
    display: flex;
    justify-content: center; 
}

ul {
    font-size: larger;
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}
  
li {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
  
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.headerImg {
    pointer-events: none;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

img:hover {
    background-color: #333;
}
  
/* Changes the link color to (black) on hover */
li a:hover {
    background-color: #333;
}

main h2 {
    display: flex;
    justify-content: center;    
    border: solid black;
}

main section strong {
    display: flex;
    justify-content: center;
    font-size: larger;
}

  footer h2 {
    display: flex;
    justify-content: flex-start;
}

  /* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: rgb(46, 139, 123);
    }
}
  
  /* Large smartphones - header changes color */
  @media screen and (max-width: 768px) {
    header {
      background-color: white;
    }
}  
  
  /* Small smartphones - image background change color */
  @media screen and (max-width: 576px) {
    img {
        display: flex;
        flex-shrink: 1;
    }    
}
  